# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.coverage
coverage.*
htmlcov/

# Venv
.venv/
venv/
env/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Secrets
.env

# App data
uploads/**
!uploads/.gitkeep

# Models / weights
*.pt
*.onnx
*.weights
